.CalculatorControl {
    width: 80px;
    padding: 15px;
    box-sizing: border-box;
    margin: 9px;
    border: 1px solid #eee;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.CalculatorControl:hover {
    background-color: #eee;
}

.CalculatorControl:active {
    font-size: 25px;
}

#equals {
  width: 280px;
  padding: 15px;
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid #eee;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  background-color: #2a99ed;
  display: inline-block;
}

#clear {
  width: 180px;
  padding: 15px;
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid #ad2d1f;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background-color: #f45342;
  display: inline-block;
}
