.Calculator {
  max-width: 375px;

}

#display {
    width: 280px;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
    border: 1px solid #eee;
    font-weight: bold;
    text-align: right;
    background-color: black;
    color: white;
    cursor: pointer;
    display: inline-block;
}

.appAuthor{
  font-size: 14px;
  margin: 10px;
  font-weight: bold;
  font-style: italic;
}
