#display {
    width: 280px;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
    border: 1px solid #eee;
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
    display: inline-block;
}
